#logo{
    right: 60px;
    position: relative;
}

 .demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
     padding-right: 0;
 }
* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    width:100vw;
    max-height: 100vw;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: "Roboto Slab";
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.slideshow_img{
    width:100%;
    object-fit: cover;
    max-height:500px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}
.section__separator{
    background-color: #cfd8dc;
    height: 1px;
    margin: 20px auto 0;
    width: calc(100% - 40px)
}
.demo-card-wide.mdl-card {
    width: 512px;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}
 .demo-card-square.mdl-card {
     width: 820px;
     height: 320px;
 }
.demo-card-square > .mdl-card__title {
    color: #fff;
    background:
            url('../assets/demos/dog.png') bottom right 15% no-repeat rgb(147, 19, 206);
}

.image_card{
 linear-gradient( red, yellow);

    object-fit: cover;

}


hr {

    width: 100%;
    height: 50px;
    margin-top: 0;
    border-bottom: 3px  ;
    margin :30px auto 10px;
    color: #9313ce;
    border-top: solid 1px #9313ce;
}

.h6_cards{
    text-align: center;
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
   color: #4a4a4a;

}
.backgrond_farbe{

    background-color: #9313ce;
}
html,body,h6{

    font-family: "PT Sans";

}
h6{

    font-family: "PT Sans";
    font-weight: bold;
}
.navigation_font{
    font-size: 16px;
;
}

.demo_card_position{
    position: relative;
    right: -50px;
}
#challenge_konzept{
    background-color: #00AD2F;

}
#inspiration{
    background-color:  #4952e1;
}
#dokumentation{
    background-color: #dd1166;
}
#uber_uns{
    background-color: #4952e1;
}

footer{
    text-align: center;
    background-color: #cfd8dc;
}

#p_footer{
}