#logo{
    right: 60px;
    position: relative;
}

 .demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
     padding-right: 0;
 }
* {box-sizing:border-box}
body {font-family: 'Roboto', sans-serif;}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    width:100vw;
    max-height: 100vw;
}

/* Navigator */
.headerbild {
  background: url(../img/IMG_20171207_100344.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 700px;
  height: 600px;
}

.nav h2{
    font-family: "Lato","Helvetica Neue","Helvetica",sans-serif;
    font-size: 36px;
    line-height: 44px;
    font-weight: 200;
    margin-top: 30px;
    margin-bottom: 5px;
}

/* First element */

.first_big{
    max-width: 100%;

}

.first{
    text-align: center;
    font-size: 36px;
    line-height: 44px;
    font-weight: 200;
}

.first_2{
    color: #808080;
    text-align: center;
    font-size: 16px
}

.first h2{
    font-family: "Lato","Helvetica Neue","Helvetica",sans-serif;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 200;
}

.first_img{
    margin-top: -24px;
    width: 100%;
}

.first_img img {
    width: 100%;
    display: block;
    margin: 0 auto;
}



/* UP CONTAINER */

.up_container{
    background-color: #f3f3f3;
}

.wrapper{
    padding-bottom: 30px;
    position: relative;
    width: 920px;
    margin: 0 auto;
    min-height: 100%;
}

/* UP LEFT */

.up_left{
    text-align: center;
    left: 53%;
    width: 50%;
    display: inline-block;
    font-size: 16px;
    position: relative;
    vertical-align: middle;
}

.up_left p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #808080;
}

.up_left h3 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}

/* UP RIGHT */

.up_right{
    padding-top: 30px;
    text-align: center;
    right: 53%;
    width: 49%;
    display: inline-block;
    font-size: 16px;
    position: relative;
    vertical-align: middle;
}

.up_right img {
    border-radius: 3%;
    width: 115%;
}

.up_right_th{
    padding-top: 30px;
    text-align: center;
    right: 53%;
    width: 49%;
    display: inline-block;
    font-size: 16px;
    position: relative;
    vertical-align: middle;
}

.up_right_th img {

    border-radius: 3%;
    width: 90%;
}
}

/* DOWN LEFT */

.down_container{
    padding-top: 40px;
}

.down_left{
    text-align: center;
    left: 53%;
    width: 50%;
    display: inline-block;
    font-size: 16px;
    position: relative;
    vertical-align: middle;
}

.down_left img{
    width: 500px;
}


/* DOWN RIGHT */

.down_right{
    text-align: center;
    right: 53%;
    width: 49%;
    display: inline-block;
    font-size: 16px;
    position: relative;
    vertical-align: middle;
}

.down_right h3{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}

.down_right p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #808080;
}

.down_right a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: "Roboto Slab";
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.slideshow_img{
    width:100%;
    object-fit: cover;
    max-height:500px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}
.section__separator{
    background-color: #cfd8dc;
    height: 1px;
    margin: 20px auto 0;
    width: calc(100% - 40px)
}
.demo-card-wide.mdl-card {
    width: 512px;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}
 .demo-card-square.mdl-card {
     width: 820px;
     height: 320px;
 }
.demo-card-square > .mdl-card__title {
    color: #fff;
    background:
            url('../assets/demos/dog.png') bottom right 15% no-repeat #ff5757;
}

.image_card{
 linear-gradient( red, yellow);

    object-fit: cover;

}


hr {

    width: 100%;
    height: 50px;
    margin-top: 0;
    border-bottom: 3px  ;
    margin :30px auto 10px;
    color: #ff5757;
    border-top: solid 1px #ff5757;
}

.h6_cards{
    text-align: center;
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
   color: #4a4a4a;

}
.backgrond_farbe{

    background-color: #4F4E4E;
}
html,body,h6{

    font-family: "PT Sans";

}
h6{

    font-family: "PT Sans";
    font-weight: bold;
}
h5{
    font-family: "PT Sans";
    font-weight: bold;
    text-align: center;
    padding-left: 200px;
}
.navigation_font{
    font-size: 16px;
;
}

.demo_card_position{
    position: relative;
    right: -50px;
}
#challenge_konzept{
    background-color: #00AD2F;

}
#inspiration{
    background-color:  #4952e1;
}
#dokumentation{
    background-color: #dd1166;
}
#uber_uns{
    background-color: #4952e1;
}

.footer{
    text-align: center;
    background-color: #cfd8dc;
    padding:60px;
}
#padding_hr{
    position: relative;
    top:60px;
    width: 100%;
    height: 50px;
    margin-top: 0;
    border-bottom: 3px  ;
    margin :30px auto 10px;
    color: #ff5757;
    border-top: solid 1px #ff5757;

}
#p_footer{

}
.dok_uberschrift{
    text-align: left;
    padding-left: 40px;
}


