.icons{
    position: relative;
    width:30% !important;
    margin-left: 4%;
}
.icons:active{
    width: 50%;
    height: 50%;
}

.icons_rechts{
    position: relative;
    left: 200px;
    top: -100px;
}

.s_line_icons{
    margin-top: 20%;
    margin-left: 10%;}
.f_line_icons{
    margin-top: 5%;
    margin-left: 10%;}
.t_line_icons{
    margin-top: 20%;
    margin-left: 10%;
    margin-bottom: 5%;
}
/* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
#map {
    height: 100%;
    width:100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.mybutton {

    background-image: url(/Prototyp/Icons/atm_machine.svg);
}
.icons_links{
    position: relative;
    left: -80px;
}
.spalte{
    margin-left: 20%;
}
#datalist_left {
    width: 80%;
}

#datalist_right {
    width: 20%;

}

.datalist {
    width: 50%;
}

.info_container {
    text-align: center;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    font-size: 15px;
}

.border_active{
    border: 1px #000000;
    background-color: white;
}
#list_container{
    background-color: #00AD2F;
}
.isHidden{
    display: none;
}
.list_of_data{
    
}
